{% extends 'base.html' %}
{% load static %}
{% block title %}
SJTU soso
{% endblock %}

{% block content %}
		<section class="not-found">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="code">
							503
						</div>
						<h1>Service Unavailable</h1>
						<p class="lead">we're doing maintenance, come back later.</p>
						<div class="search-form">							
							<form class="search" autocomplete="off" method="get" action="{% url 'haystack_search' %}">
								<div class="form-group">
									<div class="input-group">
										<input type="text" name="q" class="form-control" placeholder="Type something ...">
										<div class="input-group-btn">
											<button class="btn btn-primary" type="submit">Search</button>
										</div>
									</div>
								</div>
							</form>								
							<div class="link">
								or <a href="{% url 'home'%}">back to home</a>.
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}