{% extends 'base.html' %}
{% load static %}
{% block title %}
SJTU soso
{% endblock %}

{% block content %}
		<section class="category">
		  <div class="container">
		    <div class="row">
		      <div class="col-md-8 text-left">
		        <div class="row">
		          <div class="col-md-12">        
		            <ol class="breadcrumb">
		              <li><a href="#">Soso</a></li>
		              <li class="active">博客</li>
		            </ol>
                  {% if typename %}
                    <h1 class="page-title">Blogs: {{ typename }}</h1>
		            <p class="page-subtitle">Showing all posts with blogs <i>{{ typename }}</i></p>
                  {% else %}
		            <h1 class="page-title">Blogs</h1>
		            <p class="page-subtitle">Showing all blogs</p>
                  {% endif %}
		          </div>
		        </div>
		        <div class="line"></div>
		        <div class="row">
                {% for blog in blogs %}
		          <article class="col-md-12 article-list">
		            <div class="inner">
		              <figure>
			              <a href="{% url 'blog_detail' blog.pk %}">
			                <img alt="cover" src="{{ blog.getImage }}">
		                </a>
		              </figure>
		              <div class="details">
		                <div class="detail">
		                  <div class="category">
		                   <a href="/blog/?typename={{blog.blog_type}}">{{ blog.blog_type }}</a>
		                  </div>
		                  <div class="time">{{ blog.create_month }}&nbsp{{ blog.created_time|date:"d,  20y" }}</div>
		                </div>
		                <h1><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h1>
		                <p>
		                  {{ blog.content|striptags|truncatechars:60 }}
		                </p>
		                <footer>
                        <a href="/collect/?key=blog-{{ blog.pk }}" class="love"><i class="ion-fireball"></i> <div>{{ blog.get_read_num }}</div></a>
		                  <a class="btn btn-primary more" href="{% url 'blog_detail' blog.pk %}">
		                    <div>More</div>
		                    <div><i class="ion-ios-arrow-thin-right"></i></div>
		                  </a>
		                </footer>
		              </div>
		            </div>
		          </article>
                {% empty %}
                <div class="inner">
                    <h3>暂无博客，敬请期待</h3>
                </div>
                {% endfor %}

                {% if blogs.paginator.num_pages > 1 %}
                    <div class="col-md-12 text-center">
                        <ul class="pagination">
                        {% if blogs.has_previous %}
                            {% if blogs.number >= max_left_item_count|add:max_left_item_count %}
                                <li class="prev"><a aria-hidden="true" href="?page=1">&laquo;</a></li>
                            {% endif %}
                            <li class="prev"><a href="?page={{ blogs.previous_page_number }}"><i class="ion-ios-arrow-left"></i></a></li>
                        {% endif %}

                        {% for pg in blogs.paginator.page_range %}
                            {% if blogs.number == pg %}
                                <li class="active"><a href="?page={{ pg }}" >{{ pg }}</a></li>
                            {% elif blogs.number|add:max_left_item_count >= pg and pg|add:max_left_item_count >= blogs.number  %}
                                <li><a href="?page={{ pg }}" >{{ pg }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if blogs.has_next %}
                            <li class="next"><a href="?page={{ blogs.next_page_number }}"><i class="ion-ios-arrow-right"></i></a></li>
                                {% if  blogs.paginator.num_pages >  blogs.number|add:max_left_item_count  %}
                                    <li class="next"><a aria-hidden="true" href="?page={{ blogs.paginator.num_pages }}">&raquo;</a></li>
                                {% endif %}
                        {% endif %}
                        </ul>
                    </div>
                {% endif %}
		        </div>
		      </div>
		      <div class="col-md-4 sidebar">
		        <aside>
		          <div class="aside-body">
		            <figure class="ads">
			            <a href="#">
			              <img src="/static/images/ad-{{ typename }}.png">
			            </a>
		              <figcaption>{{ typename }}</figcaption>
		            </figure>
		          </div>
		        </aside>
		        <aside>
		          <h1 class="aside-title">热门博客</h1>
		          <div class="aside-body">
		            <article class="article-fw">
		              <div class="inner">
		                <figure>
			                <a href="{% url 'blog_detail' hotest_blog.pk %}">
			                  <img src="{{ hotest_blog.getImage }}">
			                </a>
		                </figure>
		                <div class="details">
		                  <h1><a href="{% url 'blog_detail' hotest_blog.pk %}">{{ hotest_blog.title }}</a></h1>
		                  <p>
		                    {{ hotest_blog.content|striptags|truncatechars:120 }}
		                  </p>
		                  <div class="detail">
		                    <div class="time">{{ hotest_blog.create_month }}&nbsp{{ hotest_blog.created_time|date:"d,  20y" }}</div>
		                    <div class="category"><a href="/blog/?typename={{ hotest_blog.blog_type }}">{{ hotest_blog.blog_type }}</a></div>
		                  </div>
		                </div>
		              </div>
		            </article>
		            <div class="line"></div>
                  {% for blog in hot_blogs %}
		            <article class="article-mini">
		              <div class="inner">
		              <figure>
			              <a href="{% url 'blog_detail' blog.pk %}">
			                <img src="{{ blog.getImage }}">
		                </a>
		              </figure>
		              <div class="padding">
		                <h1><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h1>
		                <div class="detail">
		                  <div class="category"><a href="/blog/?typename={{ blog.blog_type }}">{{ blog.blog_type }}</a></div>
		                  <div class="time">{{ blog.create_month }}&nbsp{{ blog.created_time|date:"d,  20y" }}</div>
		                </div>
		              </div>
		              </div>
		            </article>
                  {% endfor %}
		          </div>
		        </aside>
		      </div>
		    </div>
		  </div>
		</section>
{% endblock %}