{% extends 'base.html' %}
{% block content %}
            {% load static %}
            <link rel="stylesheet" href="{% static 'css/dropload.css' %}">
            <div class="ui unstackable two column grid">
                <div class=" ten wide column">

                    <video class="video" autoplay="autoplay" controls="controls" >
                        <source src="/static/images/videos/{{ Video.video }}" type="video/mp4">
                    </video>

                    <div class="video-info">
                        <h3 class="ui dividing header" id="id_comment_label">{{ Video.title }}</h3>
                        <div class="video-view-count">{{ Video.watch }}次观看</div>
                        <div class="video-view-operation">
                            {{video.desc}}
                        </div>
                        <div class="extra content video-view-operation">
                            <span class="left floated like">

                                <span id="like-count">喜欢人数：{{ Video.love }}  </span>
                            </span>

                            <span class="right floated star">
                                <span id="collect-count">收藏人数：{{ Video.collect }}</span>
                            </span>
                        </div>
                        <div class="extra content video-view-operation">
                            <span class="left floated like">
                                <span id="like-count">综合评分:{{ Video.avg }} </span>
                            </span>

                            <span class="right floated star">
                                <span id="collect-count">评分人数:{{ Video.rate_num }}</span>
                            </span>
                        </div>
                        <div class="extra content video-view-operation">
                            <span class="left floated like">
                                <span id="like-count">添加评分: </span>
                            </span>

                            <span class="right floated star">
                                {% if is_rate is not None %}
                                    <h4>您已经进行打分: {{ is_rate.mark }}</h4>
                                {% else %}
                                    <form action="{% url 'score' Video.id %}" method="post">
                                        {% csrf_token %}
                                        <select name="score">
                                            <option>1.0</option>
                                            <option>2.0</option>
                                            <option>3.0</option>
                                            <option>4.0</option>
                                            <option>5.0</option>
                                        </select>
                                        <button type="submit" class="btn btn-default">提交</button>
                                    </form>
                                  {% endif %}
                            </span>
                        </div>
                        <div class="ui divider"></div>
                    </div>

                    <div class="ui comments">
                        <h3 class="ui dividing header" id="id_comment_label">评论</h3>
                        <form method="post"  action="{% url 'video_comment' Video.id %}" name="video_comment">
                            {%csrf_token%}
                            <textarea cols="120" rows="3" name="content"></textarea>
                            <br/><br/>
                            <input type="submit" value="上传评论">
                        </form>
                        <br/>
                        {% for comment in comments %}
                        <div class="container-fluid">
                            <p style="font-size:20px">{{ comment.user_nickname }}:{{ comment.content }}</p>
                        </div>
                        {% endfor %}
                        <br/>
                    </div>
                </div>
            </div>
{% endblock %}