{% extends 'base.html' %}
{% load static %}
{% block title %}
SJTU soso
{% endblock %}

{% block content %}
		<section class="login first grey">
			<div class="container">
				<div class="box-wrapper">				
					<div class="box box-border">
						<div class="box-body">
							<h4>Forgot Password</h4>
							<form>
								<div class="form-group">
									<label>Email</label>
									<input type="email" name="email" class="form-control">
								</div>
								<div class="form-group text-right">
									<button class="btn btn-primary btn-block">Reset Password</button>
								</div>
								<div class="form-group text-center">
									<span class="text-muted">Back to login?</span> <a href="login.html">Login</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}