{% extends 'base.html' %}
{% load static %}
{% block title %}
SJTU soso
{% endblock %}

{% block content %}
<section class="home">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="headline">
                    <div class="owl-carousel owl-theme" id="headline">
                        <div class="item">
                            <a href="#"><div class="badge">承诺：</div> 本网站收录的信息仅用为大作业演示，保证不进行相关商业活动</a>
                        </div>
                        <div class="item">
                            <h1 class="title-col">今日头条</h1>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel owl-theme slide" id="featured">
                    <div class="item">
                        <article class="featured">
                            <div class="overlay"></div>
                            <figure>
                                <img src="/static/images/toutiao/1.png" alt="Sample Article">
                            </figure>
                            <div class="details">
                                <div class="category"><a href="/category/">荣誉</a></div>
                                <h1><a href="/single/">交大密西根学院荣誉院长倪军入选“全球智能制造领域20位最具影响力教授”</a></h1>
                                <div class="time">MAY 19, 2020</div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tlinks">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
                <div class="line">
                    <div>视频推荐</div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            {% for Video in Videos1 %}
                            <article class="article col-md-12">
                                <div class="inner">
                                    <figure>
                                        <a href="{% url 'Video' Video.id %}">
                                            <img src="/static/images/preload/{{ Video.preload }}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <div class="detail">
                                            <div class="time">{{ Video.date }}</div>
                                            <div class="category"><a href="/category/">{{ Video.tag }}</a></div>
                                        </div>
                                        <h2><a href="{% url 'Video' Video.id %}">{{ Video.title }}</a></h2>
                                        <p></p>
                                        <footer>
                                            <a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>1263</div></a>
                                            <a class="btn btn-primary more" href="/single/">
                                                <div>More</div>
                                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                                            </a>
                                        </footer>
                                    </div>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            {% for Video in Videos2 %}
                            <article class="article col-md-12">
                                <div class="inner">
                                    <figure>
                                        <a href="{% url 'Video' Video.id %}">
                                            <img src="/static/images/preload/{{ Video.preload }}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <div class="detail">
                                            <div class="time">{{ Video.date }}</div>
                                            <div class="category"><a href="/category/">{{ Video.tag }}</a></div>
                                        </div>
                                        <h2><a href="{% url 'Video' Video.id %}">{{ Video.title }}</a></h2>
                                        <p></p>
                                        <footer>
                                            <a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>1263</div></a>
                                            <a class="btn btn-primary more" href="/single/">
                                                <div>More</div>
                                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                                            </a>
                                        </footer>
                                    </div>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="banner">
                    <a href="#">
                        <img src="/static/images/ads.png" alt="Sample Article">
                    </a>
                </div>
                <div class="line transparent little"></div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 trending-tags">
                        <h1 class="title-col">好友推荐</h1>
                        <div class="body-col">
                            <ol class="tags-list">
                                {% for friend in friends %}
                                <li><a href="#">{{ friend }}</a></li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <h1 class="title-col">
                            Hot News
                            <div class="carousel-nav" id="hot-news-nav">
                                <div class="prev">
                                    <i class="ion-ios-arrow-left"></i>
                                </div>
                                <div class="next">
                                    <i class="ion-ios-arrow-right"></i>
                                </div>
                            </div>
                        </h1>
                        <div class="body-col vertical-slider" data-max="4" data-nav="#hot-news-nav" data-item="article">
                            <article class="article-mini">
                                <div class="inner">
                                    <figure>
                                        <a href="/single/">
                                            <img src="/static/images/news/img09.jpg" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <h1><a href="/single/">Duis aute irure dolor in reprehenderit in voluptate velit</a></h1>
                                        <div class="detail">
                                            <div class="category"><a href="/category/">Lifestyle</a></div>
                                            <div class="time">December 22, 2016</div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="article-mini">
                                <div class="inner">
                                    <figure>
                                        <a href="/single/">
                                            <img src="/static/images/news/img01.jpg" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <h1><a href="/single/">Duis aute irure dolor in reprehenderit in voluptate velit</a></h1>
                                        <div class="detail">
                                            <div class="category"><a href="/category/">Lifestyle</a></div>
                                            <div class="time">December 22, 2016</div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="article-mini">
                                <div class="inner">
                                    <figure>
                                        <a href="/single/">
                                            <img src="/static/images/news/img05.jpg" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <h1><a href="/single/">Duis aute irure dolor in reprehenderit in voluptate velit</a></h1>
                                        <div class="detail">
                                            <div class="category"><a href="/category/">Lifestyle</a></div>
                                            <div class="time">December 22, 2016</div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="article-mini">
                                <div class="inner">
                                    <figure>
                                        <a href="/single/">
                                            <img src="/static/images/news/img02.jpg" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <h1><a href="/single/">Fusce ullamcorper elit at felis cursus suscipit</a></h1>
                                        <div class="detail">
                                            <div class="category"><a href="/category/">Travel</a></div>
                                            <div class="time">December 21, 2016</div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="article-mini">
                                <div class="inner">
                                    <figure>
                                        <a href="/single/">
                                            <img src="/static/images/news/img13.jpg" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <h1><a href="/single/">Duis aute irure dolor in reprehenderit in voluptate velit</a></h1>
                                        <div class="detail">
                                            <div class="category"><a href="/category/">International</a></div>
                                            <div class="time">December 20, 2016</div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="article-mini">
                                <div class="inner">
                                    <figure>
                                        <a href="/single/">
                                            <img src="/static/images/news/img08.jpg" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <h1><a href="/single/">Aliquam et metus convallis tincidunt velit ut rhoncus dolor</a></h1>
                                        <div class="detail">
                                            <div class="category"><a href="/category/">Computer</a></div>
                                            <div class="time">December 19, 2016</div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="line top">
                    <div>公众号推送</div>
                </div>
                <div class="row">
                    {% for Wechat in Wechats %}#}
                    <article class="col-md-12 article-list">
                        <div class="inner">
                            <figure>
                                <a href="{% url 'Wechat' Wechat.id %}">
                                    <img src="/static/images/wechat/{{ Wechat.img }}" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="details">
                                <div class="detail">
                                    <div class="category">
                                        <a href="#">{{ Wechat.tag }}</a>
                                    </div>
                                    <div class="time">{{ Wechat.date }}</div>
                                </div>
                                <h1><a href="{% url 'Wechat' Wechat.id %}">{{ Wechat.title }}</a></h1>
                                <p>
                                {{ Wechat.digest }}
                                </p>
                                <footer>
                                    <a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>273</div></a>
                                    <a class="btn btn-primary more" href="/single/">
                                        <div>More</div>
                                        <div><i class="ion-ios-arrow-thin-right"></i></div>
                                    </a>
                                </footer>
                            </div>
                        </div>
                    </article>
                   {% endfor %}

                </div>
            </div>
            <div class="col-xs-6 col-md-4 sidebar" id="sidebar">
                <div class="sidebar-title for-tablet">Sidebar</div>
                <aside>
                    <div class="aside-body">
                        <div class="featured-author">
                            <div class="featured-author-inner">
                                <div class="featured-author-cover" style="background-image: url('/static/images/news/img15.jpg');">
                                    <div class="badges">
                                        <div class="badge-item"><i class="ion-star"></i> Featured</div>
                                    </div>
                                    <div class="featured-author-center">
                                            <figure style="width: 90px; height: 90px;" class="featured-author-picture">
                                                {% if request.session.is_login %}
                                                    <img class="img-circle img-responsive" src="{{ user.getImage }}" alt="avatar" />
                                                {% else %}
                                                    <img src="/static/images/img01.jpg"  alt="Sample Article" class="img-circle img-responsive" />
                                                {% endif %}
                                            </figure>
                                        <div class="featured-author-info">
                                            {% if request.session.is_login %}
                                                <h2 class="name">{{ request.session.nickname }}</h2>
                                                <div class="desc">@{{ request.session.user_name }}</div>
                                            {% else %}
                                                <h2 class="name">visitor</h2>
                                                <div class="desc">您未登录</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="featured-author-body">
                                    <div class="featured-author-count">
                                        <div class="item">
                                            {% if request.session.is_login %}
                                            <a href="/blog/?user={{ request.session.user_name }}">
                                            {% else %}
                                            <a href="#">
                                            {% endif %}
                                                <div class="name">博客数</div>
                                                {% if request.session.is_login %}
                                                    <div class="value">{{ request.session.myblogs }}</div>
                                                {% else %}
                                                    <div class="value">\</div>
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="item">
                                            {% if request.session.is_login %}
                                            <a href="/collect/?user={{ request.session.user_name }}">
                                            {% else %}
                                            <a href="#">
                                            {% endif %}
                                                <div class="name">收藏数</div>
                                                {% if request.session.is_login %}
                                                    <div class="value">{{ itemsum }}</div>
                                                {% else %}
                                                    <div class="value">\</div>
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="item">
                                            {% if request.session.is_login %}
                                                <a href="/userspace/">
                                            {% else %}
                                                <a href="/login/">
                                            {% endif %}
                                                    <div class="icon">
                                                        <div>More</div>
                                                        <i class="ion-chevron-right"></i>
                                                    </div>
                                                </a>
                                        </div>
                                    </div>
                                    <div class="featured-author-quote">
                                        "{{ request.session.intro }}"
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <aside>
                    <h1 class="aside-title">热门博客<a href="/blog/" class="all">See All <i class="ion-ios-arrow-right"></i></a></h1>
                    <div class="aside-body">
                        {% for blog in blogs %}
                        <article class="article-mini">
                          <div class="inner">
                          <figure>
                              <a href="{% url 'blog_detail' blog.pk %}">
                                <img src="{{ blog.getImage }}">
                            </a>
                          </figure>
                          <div class="padding">
                            <h1><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h1>
                            <div class="detail">
                              <div class="category"><a href="/blog/?typename={{ blog.blog_type }}">{{ blog.blog_type }}</a></div>&nbsp;
                              <br>
                              <div class="time right">{{ blog.create_month }}&nbsp{{ blog.created_time|date:"d,  20y" }}</div>&nbsp;
                              <i class="ion-fireball right"></i> <div>{{ blog.get_read_num }}</div>
                            </div>
                          </div>
                          </div>
                        </article>
                        {% endfor %}
                    </div>
                </aside>
                <aside>
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li class="active">
                            <a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">
                                <i class="ion-ios-chatboxes-outline"></i> 搜搜论坛
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="comments">
                            <article class="article-fw">
                                <div class="inner">
                                    <figure>
{#                                        {% url 'message_boards' 1 1 %}#}
                                        <a href="{% url 'message_boards' 1 1 %}">
                                            <img src="/static/images/bbs_logo.jpg" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="details">
                                        <div class="detail">
                                            <div class="time">{{ latest_msg_board0.create_time }}</div>
                                            <div class="category"><a href="/get_message_board/{{ latest_msg_board0.id }}/2/1/">发帖人：{{ latest_msg_board0.user }}</a></div>
                                        </div>
                                        <h1><a href="/get_message_board/{{ latest_msg_board0.id }}/2/1/">{{ latest_msg_board0.title }}</a></h1>
{#                                        <p>#}
{#                                            {{ latest_msg_board0.content }}#}
{#                                        </p>#}
                                    </div>
                                </div>
                            </article>
                            <div class="line"></div>

{#                            {% for i in latest_msg_board1 %}#}
                            <article class="article-fw">
                                <div class="inner">
                                    <div class="padding">
                                        <h1 style="font-size: 15px " ><a href="/get_message_board/{{ latest_msg_board1.id }}/2/1/">{{ latest_msg_board1.title }} </a></h1>
                                        <div class="detail">
                                            <div class="category"><a href="/get_message_board/{{ latest_msg_board1.id }}/2/1/">发帖人：{{ latest_msg_board1.user }}</a></div>
                                            <div class="time">{{ latest_msg_board1.create_time }}</div>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="article-fw">
                                <div class="inner">
                                    <div class="padding">
                                        <h1 style="font-size: 15px"><a href="/get_message_board/{{ latest_msg_board2.id }}/2/1/">{{ latest_msg_board2.title }}</a></h1>
                                        <div class="detail">
                                            <div class="category"><a href="/get_message_board/{{ latest_msg_board2.id }}/2/1/">发帖人：{{ latest_msg_board2.user }}</a></div>
                                            <div class="time">{{ latest_msg_board2.create_time }}</div>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="article-fw">
                                <div class="inner">
                                    <div class="padding">
                                        <h1 style="font-size: 15px"><a href="/get_message_board/{{ latest_msg_board3.id }}/2/1/">{{ latest_msg_board3.title }}</a></h1>
                                        <div class="detail">
                                            <div class="category"><a href="/get_message_board/{{ latest_msg_board3.id }}/2/1/">发帖人：{{ latest_msg_board3.user }}</a></div>
                                            <div class="time">{{ latest_msg_board3.create_time }}</div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
{% endblock %}
