{% extends 'base.html' %}
{% load static %}
{% block title %}
Soso Login
{% endblock %}

{% block content %}
		<section class="login first grey">
			<div class="container">
				<div class="box-wrapper">				
					<div class="box box-border">
						<div class="box-body">
							<h4>Soso 登陆</h4>
							<form class='form-login' action="/login/" method="post">
                                {% csrf_token %}
								<div class="form-group">
									{{ login_form.username.label_tag }}
									{{ login_form.username}}
								</div>
								<div class="form-group">
									{{ login_form.password.label_tag }}<a href="/forgot/" class="pull-right">忘记密码?</a>
									{{ login_form.password }}
								</div>
                                <div class="form-group">
                                    {{ login_form.captcha.errors }}
                                    {{ login_form.captcha.label_tag }}
                                    {{ login_form.captcha }}
                                </div>
								<div class="form-group text-right">
									<button class="btn btn-primary btn-block">登陆</button>
								</div>
								<div class="form-group text-center">
									<span class="text-muted">还没有搜搜账户?</span> <a href="/register/">创建一个</a>
								</div>
                                {% if message %}
                                    <div class="alert alert-warning">{{ message }}</div>
                                {% endif %}
								<div class="title-line">
									or
								</div>
              	<a href="#" class="btn btn-social btn-block facebook">用Jaccount登陆</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}