{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ user.name }}的个人空间
{% endblock %}

{% block content %}
    <section class="single">
        <div class="container">
        <div class="row">
        <div class="col-md-4 sidebar" id="sidebar">
            <aside>
                <div class="aside-body">
                    <div class="featured-author">
                        <div class="featured-author-inner">
                            <div class="featured-author-cover" style="background-image: url('/static/images/news/img15.jpg');">
                                <div class="badges">
                                    <div class="badge-item"><i class="ion-star"></i> Featured</div>
                                </div>
                                <div class="featured-author-center">
                                    <figure style="width: 90px; height: 90px;" class="featured-author-picture">
                                        <a href="{{ user.getImage }}"><img class="img-circle img-responsive" src="{{ user.getImage }}" alt="avatar"/></a>
                                    </figure>
                                    <div class="featured-author-info">
                                        <h2 class="name">{{ user.nickname }}</h2>
                                        <div class="desc">@{{ user.name }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-author-body">
                                <div class="featured-author-count">
                                    <div class="item">
                                        <a href="/blog/?user={{user.name}}">
                                            <div class="name">博客数</div>
                                            <div class="value">{{ blogsnum }}</div>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="#">
                                            <div class="name">收藏数</div>
                                            <div class="value">{{ itemsum }}</div>
                                        </a>
                                    </div>
                                    <div class="item">
                                        {% if request.session.is_login %}
                                            <a href="/userspace/?user={{ user.name }}">
                                        {% else %}
                                            <a href="/login/">
                                        {% endif %}
                                                <div class="icon">
                                                    <div>More</div>
                                                    <i class="ion-chevron-right"></i>
                                                </div>
                                            </a>
                                    </div>
                                </div>
                                <div class="featured-author-quote">
                                    "{{ user.intro }}"
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            </div>

            <div class="col-md-8">
                <ol class="breadcrumb">
		              <li><a href="#">Soso</a></li>
		              <li class="active">收藏夹</li>
		            </ol>
                  {% if user.name %}
                    <h1 class="page-title">Collection: {{ user.name }}</h1>
		            <p class="page-subtitle">Showing all collection of <i>{{ user.name }}</i></p>
                  {% else %}
		            <h1 class="page-title">Collection</h1>
		            <p class="page-subtitle">Showing all collection</p>
                  {% endif %}
		        <div class="line"></div>
		        <div class="row">
                {% for item in items %}
		          <article class="col-md-12 article-list">
		            <div class="inner">
		              <figure>
			              <a href="{% url 'blog_detail' item.itempk %}">
			                <img alt="cover" src="{{ item.getImage }}">
		                </a>
		              </figure>
		              <div class="details">
		                <div class="detail">
		                  <div class="category">
		                   <a href="/blog/">{{ item.itemtype }}</a>
		                  </div>
		                  <div class="time">{{ item.collect_month }}&nbsp{{ item.collect_time|date:"d,  20y" }}</div>
		                </div>
		                <h1><a href="{% url 'blog_detail' item.itempk %}">{{ item.itemtitle }}</a></h1>
                          <footer>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <a class="btn btn-primary more right" href="/decollect/?key={{ item.pk }}">
		                    <div>取消收藏</div>
		                    <div><i class="ion-android-delete"></i></div>
		                  </a>
		                </footer>
		              </div>
		            </div>
		          </article>
                {% empty %}
                <div class="inner">
                    <h3>收藏夹为空</h3>
                </div>
                {% endfor %}
                </div>
            </div>
            </div>
        </div>
    </section>
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}