{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ user.name }}的个人空间
{% endblock %}

{% block content %}
    <section class="single">
        <div class="container">
        <div class="row">
        <div class="col-md-4 sidebar" id="sidebar">
            <aside>
                <div class="aside-body">
                    <div class="featured-author">
                        <div class="featured-author-inner">
                            <div class="featured-author-cover" style="background-image: url('/static/images/news/img15.jpg');">
                                <div class="badges">
                                    <div class="badge-item"><i class="ion-star"></i> Featured</div>
                                </div>
                                <div class="featured-author-center">
                                    <figure style="width: 90px; height: 90px;" class="featured-author-picture">
                                        <a href="{{ user.getImage }}"><img class="img-circle img-responsive" src="{{ user.getImage }}" alt="avatar"/></a>
                                    </figure>
                                    <div class="featured-author-info">
                                        <h2 class="name">{{ user.nickname }}</h2>
                                        <div class="desc">@{{ user.name }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-author-body">
                                <div class="featured-author-count">
                                    <div class="item">
                                        <a href="/blog/?user={{user.name}}">
                                            <div class="name">博客数</div>
                                            <div class="value">{{ blogsnum }}</div>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="/collect/?user={{ user.name }}">
                                            <div class="name">收藏数</div>
                                            <div class="value">{{ itemsum }}</div>
                                        </a>
                                    </div>
                                    <div class="item">
                                        {% if request.session.is_login %}
                                            <a href="/userspace/?user={{ user.name }}">
                                        {% else %}
                                            <a href="/login/">
                                        {% endif %}
                                                <div class="icon">
                                                    <div>More</div>
                                                    <i class="ion-chevron-right"></i>
                                                </div>
                                            </a>
                                    </div>
                                </div>
                                <div class="featured-author-quote">
                                    "Eur costrict mobsa undivani krusvuw blos andugus pu aklosah"
                                </div>
                                <div class="block">
                                    <h2 class="block-title">Photos</h2>
                                    <div class="block-body">
                                        <ul class="item-list-round" data-magnific="gallery">
                                            <li><a href="/static/images/news/img06.jpg" style="background-image: url('/static/images/news/img06.jpg');"></a></li>
                                            <li><a href="/static/images/news/img07.jpg" style="background-image: url('/static/images/news/img07.jpg');"></a></li>
                                            <li><a href="/static/images/news/img08.jpg" style="background-image: url('/static/images/news/img08.jpg');"></a></li>
                                            <li><a href="/static/images/news/img09.jpg" style="background-image: url('/static/images/news/img09.jpg');"></a></li>
                                            <li><a href="/static/images/news/img10.jpg" style="background-image: url('/static/images/news/img10.jpg');"></a></li>
                                            <li><a href="/static/images/news/img11.jpg" style="background-image: url('/static/images/news/img11.jpg');"></a></li>
                                            <li><a href="/static/images/news/img12.jpg" style="background-image: url('/static/images/news/img12.jpg');"><div class="more">+2</div></a></li>
                                            <li class="hidden"><a href="/static/images/news/img13.jpg" style="background-image: url('/static/images/news/img13.jpg');"></a></li>
                                            <li class="hidden"><a href="/static/images/news/img14.jpg" style="background-image: url('/static/images/news/img14.jpg');"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="featured-author-footer">
                                    <a href="#">See All Authors</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            </div>

            <div class="col-md-8">
                <ol class="breadcrumb">
                  <li><a href="{% url 'home' %}">Soso</a></li>
                  <li class="active">{{ user.nickname }}的个人空间</li>
                </ol>
                    <br>
                    <figure style="width: 100px; height: 100px;">
                        <a href="{{ user.getImage }}"><img class="img-circle img-responsive" src="{{ user.getImage }}" alt="avatar"/></a>
                    </figure>
                    <br>
                    <div class="container" style="left: 200px;">
                        <div class="form-group">
                              用户名：{{ user.name }}
                        </div>
                        <div class="form-group">
                              昵称：{{ user.nickname }}
                        </div>
                        <div class="form-group">
                              性别：{{ user.sex }}
                        </div>
                        <div class="form-group">
                              邮箱：{{ user.email }}
                        </div>
                        <div class="form-group">
                              自我介绍：{{ user.intro }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}