{% extends 'base.html' %}
{% load static %}
{% block title %}
SJTU soso
{% endblock %}

{% block content %}
		<section class="login first grey">
			<div class="container">
				<div class="box-wrapper">				
					<div class="box box-border">
						<div class="box-body">
							<h4>修改密码</h4>
							<form action="/reset/" method="post">
                                {% csrf_token %}
								<div class="form-group">
									<label>旧密码</label>
									<input type="password" name="oldpassword" class="form-control">
								</div>
								<div class="form-group">
									<label>新密码</label>
									<input type="password" name="newpassword" class="form-control">
								</div>
                                <div class="line thin"></div>
                                {% if message %}
                                    <div class="alert alert-warning">{{ message }}</div>
                                {% endif %}
								<div class="form-group text-right">
									<button class="btn btn-primary btn-block">修改密码</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}